<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--MemberMapper.java Interface 연결 -->    
<mapper namespace="com.java.www.mapper.BoardMapper">
	
	<select id="selectAll" resultType="com.java.www.dto.BoardDto">
		select * from
		(select row_number() over(order by bgroup desc, bstep asc) rnum, a.* from board a)
		where rnum between 1 and 10
	</select>
	
	<select id="selectOne" resultType="com.java.www.dto.BoardDto">
		select * from board where bno=#{bno}
	</select>
	
	<select id="BCommentSelectAll" resultType="com.java.www.dto.BCommentDto">
		select * from ecomment where bno=#{bno} order by cno desc
	</select>
	
	<!-- 시퀀스(cno) 생성 후 댓글저장, 시퀀스를 리턴 -->
	<insert id="BCommentInsert">
		<selectKey resultType="int" keyProperty="cno" order="BEFORE">
			select ecomment_seq.nextval from dual
		</selectKey>
		insert into ecomment values( #{cno},#{bno},#{id},#{cpw},#{ccontent},sysdate )
	</insert>
	
	<select id="BCommentSelectOne" resultType="com.java.www.dto.BCommentDto">
		select * from ecomment where cno=#{cno} 
	</select>
	
 	
</mapper>